* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  margin: auto;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn,
.text {
  margin: 20px;
}

.btn {
  width: 120px;
  height: 60px;
  padding: 1px;
  background: #dee2e6;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s;
}

.text {
  font-size: 30px;
  font-weight: bold;
}

.btn:hover {
  box-shadow: 1px 0px 12px -4px #000000;
}
